<%- include('./../_partials/head') %>

    <!-- Matched Items -->
    <div class="container">

        <div class="row">
            <div class="col s6">Name</div>
            <div class="col s3">Quantity</div>
            <div class="col s3">Price</div>
        </div>
        <% matched.forEach(item => { %>
            <div class="row">
                <div class="col s6"><%= item.name %></div>
                <div class="col s3"><%= item.quantity %></div>
                <div class="col s3">$<%= item.price %></div>
            </div>
        <% }) %>
        <p>Savings</p>

    </div>

    <!-- Other User List-->

    <div class="container">
            
        <div class="row">
            <div class="col s6">Name</div>
            <div class="col s3">Quantity</div>
            <div class="col s3">Price</div>
        </div>
            <% otherList.products.forEach(item => { %>
                <div class="row">
                    <div class="col s6"><%= item.name %></div>
                    <div class="col s3"><%= item.quantity %></div>
                    <div class="col s3">$<%= item.price %></div>
                </div>
            <% }) %>
            
    </div>

    <!-- My List -->

    <div class="container">
            
        <div class="row">
            <div class="col s6">Name</div>
            <div class="col s3">Quantity</div>
            <div class="col s3">Price</div>
        </div>
            <% userList.products.forEach(item => { %>
                <div class="row">
                    <div class="col s6"><%= item.name %></div>
                    <div class="col s3"><%= item.quantity %></div>
                    <div class="col s3">$<%= item.price %></div>
                </div>
            <% }) %>
            
    </div>

    </body>

    </html>