<%- include('./../_partials/head') %>

<%= costcoData[0].businesses %>
<% console.log(costcoData[0]) %>

<div class="container">
    <h1>List of Costcos</h1>
</div>

<div class="container">
    <div id="map"></div>
</div>
<% /* %>
<div class="container">
    <div class="row"></div>
    <div class="row">Closest location:
        A.) <%= costcoData.businesses[0].location.city %>
        <%= costcoData.businesses[0].location.address1 %>
        <%= costcoData.businesses[0].location.state %>
        <%= costcoData.businesses[0].location.zip_code %>
        <a href="/costcos/<%=costcoData.businesses[0].location.zip_code %>">View/Create List</a>
        
    </div>
    <div class="row">
        B.) <%= costcoData.businesses[1].location.city %>
        <%= costcoData.businesses[1].location.address1 %>
        <%= costcoData.businesses[1].location.state %>
        <%= costcoData.businesses[1].location.zip_code %>
        <a href="/costcos/<%=costcoData.businesses[1].location.zip_code %>">View/Create List</a>
        

    </div>
    <div class="row">
        C.) <%= costcoData.businesses[2].location.city %>
        <%= costcoData.businesses[2].location.address1 %>
        <%= costcoData.businesses[2].location.state %>
        <%= costcoData.businesses[2].location.zip_code %>
        <a href="/costcos/<%=costcoData.businesses[2].location.zip_code %>">View/Create List</a>
        

    </div>

    <a href="/">Back to Search</a>

</div>

<script>
    function initMap() {
      var current = {lat: <%= costcoData.businesses[0].coordinates.latitude %>, lng: <%= costcoData.businesses[0].coordinates.longitude %>}
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: current
      });

      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';


      var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length],
            map: map
          });
      });
      var markerCluster = new MarkerClusterer(map, markers,
        {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }
    var locations = [
        {lat: <%= costcoData.businesses[0].coordinates.latitude %>, lng: <%= costcoData.businesses[0].coordinates.longitude %>},
        {lat: <%= costcoData.businesses[1].coordinates.latitude %>, lng: <%= costcoData.businesses[1].coordinates.longitude %>},
        {lat: <%= costcoData.businesses[2].coordinates.latitude %>, lng: <%= costcoData.businesses[2].coordinates.longitude %>}
    ]
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLE_MAP_KEY%>&callback=initMap"></script>

<% */ %>
  <%- include('./../_partials/footer') %>