<%- include('./../_partials/head') %>

<%= JSON.stringify(lists) %>

<div class="container">
    <h1> Show Page</h1>
    <% if (lists.length === 0) { %>
        <h1>No lists yet! Want to create one?</h1>
    <% } else { %>
        <% lists.forEach((list) => { %>
            <div><%= list.name %></div>
            <div><%= list.list.products %></div>
        <% })} %>
    <a href="/lists/new/<%=costcoData.businesses[0].location.zip_code %>">CREATE BITCHES</a>
</div>

<%- include('./../_partials/footer') %>